#menubar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#menu{
    border: 5px solid gray;
    text-align: center;
}
#head{
    text-align: center;
    font-size : 40px;
    font : 'bold';
}

#down{
    text-align: center;
    border : 2px solid gray;
}   